<% if @simulation != nil %>
<div class="container">
  <h4 class="row">Pokemon <%= @attacking_pokemon_species.name%> have attacked <%= @defending_pokemon_species.name %> with <%= @attack.name %></h4>
  <% if @hp_before == @hp_after %>
    <h4 class="row"><%=@attack.name%> have no effect on <%= @defending_pokemon_species.name%> </h4>
  <% else %>
    <h4 class="row"><%= @defending_pokemon_species.name %> HP dropped from <%= @hp_before%> to <%= @hp_after%></h4>
  <% end %>
</div>
<% end %>
