<%= form_for :simulation, url: simulation_simulate_path do |f|%>
<div class="field">
  <label>Attacking Pokemon</label>
  <div class="row">
    <div class="col-md-4">
      <% if @attacking_pokemon_id != nil %>
        <%= f.collection_select :attacking_pokemon_id, Pokemon.all, :id, :context, {:selected => @attacking_pokemon_id },  { class: "form-control", id: "simulation_attacking_pokemon" } %>
      <% else %>
        <%= f.collection_select :attacking_pokemon_id, Pokemon.all, :id, :context, {:include_blank => "Select a Pokemon..." },  { class: "form-control", id: "simulation_attacking_pokemon" } %>
      <% end %>
    </div>
    <p>
      Didn't find your pokemon? <a href="/pokemons/new">click here</a>
    </p>
  </div>
  <label>Move</label>
  <div class="row">
    <div class="col-md-4">
        <%= f.collection_select :attack_id, Attack.all, :id, :context, {:include_blank => "Select an Attack..."}, { class: "form-control", id: "simulation_attack" } %>
    </div>
    <p>
      Didn't find your attack? <a href="/attacks/new">click here</a>
    </p>
  </div>
  <label>Modifier</label>
  <div class="row">
    <div class="col-md-4">
      <%= f.number_field :modifier, id: :simulation_modifier, :class => "form-control", :value => 1.0, :step => "0.01" %>
    </div>
  </div>
  <label>Defending Pokemon</label>
  <div class="row">
    <div class="col-md-4">
        <%= f.collection_select :defending_pokemon_id, Pokemon.all, :id, :context, {:include_blank => "Select a Pokemon..."},  { class: "form-control", id: "simulation_defending_pokemon" } %>
    </div>
    <p>
      Didn't find your pokemon? <a href="/pokemons/new">click here</a>
    </p>
  </div>
  <div class="row">
    <%= f.submit "Simulate Battle", id: :create_simulation_btn, class: "btn btn-primary u-margin-top-large" %>
  </div>
  <div class="row">
    <%= render partial: 'simulate' %>
  </div>
</div>

<% end %>
