<%= form_with(model: pokemon_specy, local: true) do |form| %>
  <% if pokemon_specy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon_specy.errors.count, "error") %> prohibited this pokemon_specy from being saved:</h2>

      <ul>
      <% pokemon_specy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :pokemon_specy_id %>
  </div>

  <div class="field">
    <label>Name</label>
    <%= form.text_field :name, id: :pokemon_specy_name %>
  </div>

  <div class="field">
    <label>First Element</label>
    <%= form.select :first_element, @elements.collect { |element| [element.name, element.name]} %>
  </div>

  <div class="field">
    <label>Second Element</label>
    <%= form.select :second_element, @elements.collect { |element| [element.name, element.name]} %>
  </div>

  <div class="field">
    <label>HP</label>
    <%= form.number_field :hp, id: :pokemon_specy_hp %>
  </div>

  <div class="field">
    <label>Attack</label>
    <%= form.number_field :attack, id: :pokemon_specy_attack %>
  </div>

  <div class="field">
    <label>Defense</label>
    <%= form.number_field :defense, id: :pokemon_specy_defense %>
  </div>

  <div class="field">
    <label>Special Attack</label>
    <%= form.number_field :sp_attack, id: :pokemon_specy_sp_attack %>
  </div>

  <div class="field">
    <label>Special Defense</label>
    <%= form.number_field :sp_defense, id: :pokemon_specy_sp_defense %>
  </div>

  <div class="field">
    <label>Speed</label>
    <%= form.number_field :speed, id: :pokemon_specy_speed %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Save Pokemon Species" data-disable-with="Save Pokemon Species">
  </div>
<% end %>
