<%= form_with(model: pokemon, local: true) do |form| %>
<div class="form-group">
<% if pokemon.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>
  <script type="text/javascript">
  $(document).ready(function() {
    alert("I am an alert box!");
    $('#pokemon_nickname').addClass("form-control");
    $('#pokemon_level').val() = 5;
 });
  </script>
  <ul>
    <% pokemon.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= form.label :pokemon_species_id %>
      <%= form.select :pokemon_species_id, @pokemon_species.collect { |species| [species.name, species.id]}, {}, { class: "form-control" } %>
    </div>
    <div class="field">
      <%= form.label :level %>
      <%= form.number_field :level, id: :pokemon_level, :class => "form-control"  %>
    </div>
    <div class="field">
      <%= form.label :nickname %>
      <label id="js_test">Nickname</label>
      <%= form.text_field :nickname, id: :pokemon_nickname, :class => "" %>
    </div>
    <div class="field">
      <%= form.label :nature %>
      <%= form.select :nature_id, @natures.collect { |nature| [nature.name + " (" + nature.advantage + ", " + nature.disadvantage + ") ", nature.id]}, { }, { class: "form-control" } %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= form.label :iv_attack %>
      <%= form.number_field :iv_attack, id: :pokemon_iv_attack, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :iv_defense %>
      <%= form.number_field :iv_defense, id: :pokemon_iv_defense, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :iv_sp_attack %>
      <%= form.number_field :iv_sp_attack, id: :pokemon_iv_sp_attack, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :iv_sp_defense %>
      <%= form.number_field :iv_sp_defense, id: :pokemon_iv_sp_defense, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :iv_speed %>
      <%= form.number_field :iv_speed, id: :pokemon_iv_speed, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :iv_hp %>
      <%= form.number_field :iv_hp, id: :pokemon_iv_hp, :class => "form-control" %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= form.label :ev_attack %>
      <%= form.number_field :ev_attack, id: :pokemon_ev_attack, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :ev_defense %>
      <%= form.number_field :ev_defense, id: :pokemon_ev_defense, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :ev_sp_attack %>
      <%= form.number_field :ev_sp_attack, id: :pokemon_ev_sp_attack, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :ev_sp_defense %>
      <%= form.number_field :ev_sp_defense, id: :pokemon_ev_sp_defense, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :ev_speed %>
      <%= form.number_field :ev_speed, id: :pokemon_ev_speed, :class => "form-control" %>
    </div>
    <div class="field">
      <%= form.label :ev_hp %>
      <%= form.number_field :ev_hp, id: :pokemon_ev_hp, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
</div>
<% end %>
