<p id="notice"><%= notice %></p>

<p>
  <strong>Pokemon species:</strong>
  <%= @species.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @pokemon.level %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @pokemon.nickname %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @defense %>
</p>

<p>
  <strong>Special Attack:</strong>
  <%= @sp_attack %>
</p>

<p>
  <strong>Special Defense:</strong>
  <%= @sp_defense %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @speed %>
</p>


<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
